#page-logo{
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  padding-left: 15px;
}

#mainContainer{
  padding-bottom: 400px;
}

@media only screen and (max-width: 1024px) {
  #page-logo{
    font-family: 'Poiret One', cursive;
    font-weight: bold;
  }
  #page-logo-icon{
    display: none;
  }
  #mainContainer{
    padding-bottom: 150px;
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

