#page-logo{
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  padding-left: 15px;
}

@media only screen and (max-width: 1024px) {
  #page-logo{
    font-family: 'Poiret One', cursive;
    font-weight: bold;
  }
  #page-logo-icon{
    display: none;
  }
}