@model NoResume.Models.SocialProfile

@{
    ViewData["Title"] = "Edit";
    Layout = "_LayoutPrivate";
}

<h1>Edit</h1>

<h4>SocialProfile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DeveloperId" />
            <div class="form-group">
                <label asp-for="LinkedInUsername" class="control-label"></label>
                <input asp-for="LinkedInUsername" class="form-control" />
                <span asp-validation-for="LinkedInUsername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacebookUsername" class="control-label"></label>
                <input asp-for="FacebookUsername" class="form-control" />
                <span asp-validation-for="FacebookUsername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TwitterUsername" class="control-label"></label>
                <input asp-for="TwitterUsername" class="form-control" />
                <span asp-validation-for="TwitterUsername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
